:go:func Index(u *model.User, nav []*model.Navigation, title string)

:go:import "github.com/SlinSo/goTemplateBenchmark/model"

!!! 5
html
    body
        header
            include header.jade
        nav
            include navigation.jade
        section
            .content
                .welcome
                    h4 Hello #{u.FirstName}
                    .raw!=     u.RawContent
                    .enc=      u.EscapedContent
                - for i := 1; i <= 5; i++ {
                    if i == 1
                        p #{u.FirstName} has #{i} message
                    else
                        p #{u.FirstName} has #{i} messages
                - }
        footer
            include footer.jade
